<div class="cart-container">
  <h2>Shopping Cart</h2>

  <ng-container *ngIf="cartItems$ | async as items">
    <!-- سلة فاضية -->
    <div *ngIf="items.length === 0" class="empty-cart">
      <lucide-icon name="shopping-cart" [size]="64"></lucide-icon>
      <h3>Your cart is empty</h3>
      <p>No products have been added to your cart yet.</p>
      <button class="shop-btn" (click)="goToShop()">Continue Shopping</button>
    </div>

    <!-- سلة فيها منتجات -->
    <ng-container *ngIf="items.length > 0">
      <div class="cart-item" *ngFor="let item of items">
        <img [src]="item.product.thumbnail" alt="{{ item.product.title }}" />

        <div class="info">
          <h3>{{ item.product.title }}</h3>
          <p>Price: {{ item.product.price }} $</p>

          <div class="quantity-control">
            <button (click)="decrement(item.product.id)">-</button>
            <span>{{ item.quantity }}</span>
            <button (click)="increment(item.product.id)">+</button>
          </div>

          <button class="remove-btn" (click)="removeItem(item.product.id)">Remove</button>
        </div>
      </div>

      <div class="cart-footer">
        <strong>Total: {{ getTotal(items) }} $</strong>
        <button class="clear-btn" (click)="clearCart()">Clear Cart</button>
        <button class="checkout-btn" (click)="goToCheckout()">Checkout</button>
      </div>
    </ng-container>
  </ng-container>
</div>
